body {
    background-color: #00FFFF; /* Замените этот цвет на тот, который вам нравится */
    margin: 0; /* Убирает внешние отступы для body */
    padding: 0; /* Убирает внутренние отступы для body */
}




/* Общие стили для всех полей формы */
form {
  max-width: 400px; /* Ширина формы, чтобы не занимала всю страницу */
  margin: 0 auto; /* Центрирование формы на странице */
}

label {
  display: block; /* Размещение меток на новой строке */
  margin-bottom: 8px; /* Расстояние между метками и полями ввода */
}

input, textarea {
  width: 100%; /* Занимать всю доступную ширину */
  padding: 10px; /* Поля вокруг текста внутри поля ввода */
  margin-bottom: 16px; /* Расстояние между полями ввода */
  box-sizing: border-box; /* Учитывать padding и border в общей ширине/высоте */
}

/* Стили для кнопки отправки формы */
button {
  background-color: #4CAF50; /* Цвет фона */
  color: white; /* Цвет текста */
  padding: 10px 20px; /* Поля вокруг текста внутри кнопки */
  border: none; /* Убрать границу */
  border-radius: 4px; /* Закруглить углы */
  cursor: pointer; /* Изменить курсор при наведении */
}

button:hover {
  background-color: #45a049; /* Цвет фона при наведении */
}