body {
    background-color: #00FFFF; /* Замените этот цвет на тот, который вам нравится */
    margin: 0; /* Убирает внешние отступы для body */
    padding: 0; /* Убирает внутренние отступы для body */
}

