{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>

    <meta charset="UTF-8">
    <title>Главная страница</title>
    <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">


    {% load book_tags %}
    <a href="{% url 'index' %}">Главная страница</a>
    <a href="{% url 'about' %}">Перейти на страницу "О нас"</a>
    <a href="{% url 'posts' %}">Посмотреть статьи</a>
    <p>
        <a href="{% url 'addpage' %}">Добавить статью</a>
        <a href="{% url 'add_new_post_cat' %}">Добавить новую категорию статей</a>
    </p>
    {% get_categories as categories %}
    <ul>
    {% for c in categories %}
            <li><a href="{% url 'cat' cat_id=c.pk %}">{{ c.name }}</a></li>
    {% endfor %}
    </ul>
</head>
<body>

{% block content %}
{% endblock %}



</ul>
</body>
</html>